[project]
	description = Rules Engine for Ruby
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gian (snmgian)
[access "refs/for/refs/*"]
	read = group user/gian (snmgian)
	push = group user/gian (snmgian)
	label-Code-Review = -2..+2 group user/gian (snmgian)
	label-Verified = -1..+1 group user/gian (snmgian)
	rebase = group user/gian (snmgian)
	removeReviewer = group user/gian (snmgian)
	submit = group user/gian (snmgian)
[access "refs/heads/*"]
	read = group user/gian (snmgian)
	create = group user/gian (snmgian)
	push = +force group user/gian (snmgian)
	pushMerge = group user/gian (snmgian)
[access "refs/tags/*"]
	push = +force group user/gian (snmgian)
	pushTag = group user/gian (snmgian)
	pushSignedTag = group user/gian (snmgian)
