section#brand.SectionBrand
  .container-cell
    .row
      .SectionBrand-moto
        | Rules engine for ruby
      .SectionBrand-rubies
        .SectionBrand-rubies-layer.SectionBrand-rubies__1(class="parallax", data-velocity=".2")
        .SectionBrand-rubies-layer.SectionBrand-rubies__2(class="parallax", data-velocity=".4")
        .SectionBrand-rubies-layer.SectionBrand-rubies__3(class="parallax", data-velocity=".5")
      img.SectionBrand-ruby(src='images/ruy_ruby.svg')
      img.SectionBrand-logo(src='images/ruy_logo.svg')
    +link ("#why", "Why")(class='SectionBrand-scroll')
      i.fa.fa-chevron-down