section#using.SectionUsing
  .container-cell
    .row
      h2.SectionInstall-title
        | Using
      .SectionUsing-sublime
        .terminal-window
          header
            .terminal-button.green
            .terminal-button.yellow
            .terminal-button.red
          section.terminal
            header.terminal-header
              ul
                li discount_day.rb
            section.terminal-body
              pre.prettyprint.linenums.lang-rb
                code
                  :verbatim
                    gifter = Ruy::Rule.new

                    gifter.set :name, 'Unforgettable Fridays'

                    gifter.eq :friday, :day_of_week

                    gifter.outcome 7 do
                      greater_than_or_equal 100, :amount
                    end

                    gifter.fallback 0



                    gifter.call(day_of_week: :friday, amount: 256)
                    # => 7

                    gifter.call(day_of_week: :monday, amount: 124)
                    # => 0
          footer.terminal-footer
