section#why.SectionWay
  .container-cell
    .row
      .SectionWay-description
        .container-cell
          h2.SectionWay-title
            | Why Ruy
          .SectionWay-description-paragraph
            p.SectionWay-description-paragraph-text
              | Ruy is a library for defining a set of conditions and evaluating them
              | against a context.
            p.SectionWay-description-paragraph-text
              | Rules are evaluated against a context (the Hash being passed to #call)
              | and return the first outcome that matches.

      .SectionWay-diagram
        .container-cell
          img( src='images/diagram.svg')
