section#why.SectionWay
  .container-cell
    .row
      .SectionWay-description
        .container-cell
          h2.SectionWay-title
            | Why Ruy
          .SectionWay-description-paragraph

            p.SectionWay-description-paragraph-text
              | Ruy defines an easy-to-learn language that allows
              | to define conditional expressions and then evaluate
              | them against a context.
            p.SectionWay-description-paragraph-text
              | For example, it can determine
              | the amount of miles earned by Alice when buying $400 with
              | her credit card during the Black Friday.
            p.SectionWay-description-paragraph-text
              | In this case Alice wins 1000 miles.
            br
            p.SectionWay-description-paragraph-text
              strong Uses
            p.SectionWay-description-paragraph-text
              | It can be used to build a rules engine tailored to the needs of a small-midle business.
              | Can be used to obtain a outcome and do "something” like trigger events,

      .SectionWay-diagram
        .container-cell
          img( src='images/diagram.svg')
