section#why.SectionWay
  .container-cell
    .row
      .SectionWay-description
        .container-cell
          h2.SectionWay-title
            | Why Ruy
          .SectionWay-description-paragraph
            p.SectionWay-description-paragraph-text
              | Ruy defines an easy-to-learn language which allows
              | users to declare context-driven conditional expressions.
              | For example, it may be used in determining the
              | number of miles earned by Alice while shopping
              | during Black Friday for a total of $400 via credit card,
              | resulting in Alice being eligible for 1,000 miles.
            br
            p.SectionWay-description-paragraph-text
              strong Uses
            p.SectionWay-description-paragraph-text
              | Ruy may potentially be leveraged to build a tailored
              | rules engine aimed to small/middle-size businesses.
              | Besides, it may be used to model event triggers.

      .SectionWay-diagram
        .container-cell
          img( src='images/diagram.svg')
