section#why.SectionWay
  .container-cell
    .row
      .SectionWay-description
        .container-cell
          h2.SectionWay-title
            | Why Ruy
          .SectionWay-description-paragraph
            p.SectionWay-description-paragraph-text
              | Ruy is a rules engine built for detecting when certain conditions obtain,
              | and what events (or outcomes) should be trigger when they do.
            p.SectionWay-description-paragraph-text
              | A Ruy ruleset is a combination of rules that check for
              | conditions and result in zero or more outcomes.
            p.SectionWay-description-paragraph-text
              | Rulesets are loaded from an adapter that lets developers specify
              | how to persist and store their rules arbitrarily.

      .SectionWay-diagram
        .container-cell
          img( src='images/diagram.svg')